@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

* {
	letter-spacing: 0.1em;
	line-height: 1.5;
}
#main_img {
	width: 100%;
	position: relative;
/* 	height: 500px; */
/* 	background: silver; */
/* 	background-image: url(../img/meeting.png); */
}
#main_img img {
	width: 100%;
}
#main_img p {
	position: absolute;
	top: 50%;
	text-shadow: 0em 0em 1em black;
	width: 100%;
	font-size: 1.5em;
	color: white;
	
}
#content_box {
	margin-top: 110px;
	
}
#result_message p{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

h1 {
	background-image: url('../img/engineer_plus_logo.png');
	background-position: 15px 0;
	background-repeat: no-repeat;
	width: 110px;
	height: 73px;
	text-indent: -9999px;
}
h1 a {
	display: block;
}
h2, h3, h4, caption {
	color: #02d19c;
	font-size: 1.5em;
}
header {
	width: 100%;
	position: fixed;
	background: white;
	z-index: 2;
}
header nav { 
	padding-top: 4em;
}
header li a {
	text-decoration: none !important;
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 1.2em;
}
header li a:hover, header li a.active_page {
	border-bottom-color: deeppink;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

footer {
	margin-top: 1em;
	border-top: 1px solid #efefef;
	padding: 1em 0;
	
}
#cycle ul {
	margin: 0 auto;
}
#cycle li {
/* 	float: left; */
	border-color: #02d19c;
	border-style: solid;
	border-width: 1px;
	border-radius: 200px;
	padding: 100px;
	margin: 0 32px;
	font-size: 2.5em;
}
#scroll_top {
	display: block;
	position: fixed;
	right: 10%;
	bottom: 2%;
	background: #02d19c;
	color: white;
	padding: 0.5em 1em;
}
#page_selectors li {
	display: inline;
}

