<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www..org">
<head>
	<meta charset="UTF-8"/>
	<title>engineer+ 新規事業企画開発サークル/事業プラン</title>
	<link rel="shortcut icon" href="./favicon.ico" />
	<link rel="icon" type="image/vnd.microsoft.icon" href="./favicon.ico" />
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="./css/common.css" />
	<script src="./js/jquery/jquery-2.2.0.min.js"></script>
	<script src="./bootstrap/js/bootstrap.min.js"></script>
	<script src="./js/engineer_plus.js"></script>
</head>
<body>
<div id="main_box" class="container-fluid text-center">
	<header class="clearfix">
		<div class="row">
			<h1 class="col-sm-4"><a href="./">engineer+</a></h1>
			<nav>
				<ul class="list-unstyled list-inline col-sm-8">
					<li><a href="./">トップページ</a></li>
					<li><a href="./business_plan" class="active_page">事業プラン</a></li>
					<li><a href="./inquiry">お問合わせ</a></li>
				</ul>
			</nav>
		</div>
		<div class="user_info" th:if="${session.isLogin}">
			<span th:text="|ログイン中 : ${session.userId}|">ログインユーザ</span>
			<a href="./logout" class="btn btn-default">ログアウト</a>
		</div>
	</header>
	<div id="content_box" class="clearfix">
		<section id="result_message">
			<ul class="list-unstyled">
				<li th:each="result :${resultMap}">
					<p class="text-info bg-success" th:if="${result.value}" th:text="${result.key}"></p>
					<p class="text-danger bg-danger" th:if="${!result.value}" th:text="${result.key}"></p>
				</li>
			</ul>
		</section>
		<section id="create_business_plan_box">
			<h2>事業プランを投稿</h2>
			<form id="business_plan_form" name="business_plan_form" class="form-horizontal" action="./business_plan" method="POST" th:object="${businessPlanForm}">
				<div class="form-group">
					<label for="u" class="control-label col-sm-2">名前</label>
					<div class="col-sm-10">
						<input type="text" id="user_name" name="user_name" class="form-control" placeholder="名前を入力してください..." required="required" th:field="*{name}" />
					</div>
				</div>
				<div class="form-group">	
					<label for="business_plan_title" class="control-label col-sm-2">タイトル</label>
					<div class="col-sm-10">
						<input type="text" id="business_plan_title" name="business_plan_title" class="form-control col-sm-10" placeholder="タイトルを入力してください..." required="required" th:field="*{title}" />						
					</div>
				</div>
				<div class="form-group">
					<label for="business_plan_content" class="control-label col-sm-2">事業プラン内容</label>
					<div class="col-sm-10">
						<textarea id="business_plan_content" name="business_plan_content" rows="5" class="form-control" placeholder="事業プランを入力してください..." required="required" th:field="*{content}"></textarea>					
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-5">
						<button type="reset" class="form-control">リセット</button>
					</div>
					<div class="col-sm-5">
						<button type="submit" class="form-control">投稿</button>
					</div>
				</div>
			</form>
		</section><!-- #create_business_plan_box -->
		<section id="read_business_plan_box">
			<h2>事業プラン一覧</h2>
			<ul class="list-unstyled">
				<li th:each="businessPlan :${businessPlans}">
					<article>
						<table class="table table-hover">
							<tr>
								<th style="display:none">タイトル</th>
								<td colspan="2" th:text="${businessPlan.title}">テストタイトル</td>
							</tr>	
							<tr>
								<th>名前</th>
								<td th:text="${businessPlan.name}">テストユーザ</td>
							</tr>
							<tr>
								<th>投稿日</th>
								<td th:text="${#dates.format(businessPlan.createdDate)}">yyyy/mm/dd hh:mm:ss</td>
							</tr>
		
							<tr>
								<th style="display:none;">事業プラン内容</th>
								<td class="text-left" colspan="2" th:text="${businessPlan.content}">テスト事業プラン内容</td>
							</tr>		
						</table>
					</article>
				</li>
			</ul>
			<div id="page_selectors">
				
				<ul class="list-unstyled center-block">
					<li id="page_selectors_first">
						<a class="btn btn-link" th:classappend="${businessPlans.isFirst()}? ' disabled'" href="./business_plan?page=1" title="最初のページ">|&lt;&lt;</a>
					</li>
					<li id="page_selectors_previous">
						<a class="btn btn-link" th:classappend="${businessPlans.isFirst()}? ' disabled'" href="#" title="前のページ" th:href="@{./business_plan(page=${businessPlans.number})}">&lt;&lt;</a>
					</li>
					<li id="page_selectors_number" th:each="ps :${pageSelectors}">
						<a class="btn btn-link" th:classappend="${ps==(businessPlans.number+1)}? ' disabled btn-lg'" href="#" th:text="${ps}" th:href="@{./business_plan(page=${ps})}">ページ</a>
					</li>
					<li id="page_selectors_next">
						<a class="btn btn-link" th:classappend="${businessPlans.isLast()}? ' disabled'" href="#" title="次ページ" th:href="@{./business_plan(page=${businessPlans.number + 2})}">&gt;&gt;</a>
					</li>
					<li id="page_selectors_last">
						<a class="btn btn-link" th:classappend="${businessPlans.isLast()}? ' disabled'" href="#" title="最後のページ" th:href="@{./business_plan(page=${businessPlans.totalPages})}">&gt;&gt;|</a>
					</li>
				</ul>
			</div>
		</section><!-- #red_bisiness_plan_box -->
		
	</div><!-- #content_box -->
	<footer class="clearfix">
		<p>Copyright(C) engineer+ All Rights Reserved.</p>
		<a href="#" id="scroll_top">▲<br />TOP</a>
	</footer>
</div><!-- #main_box -->
</body>
</html>
