<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>engineer+ 新規事業企画開発サークル</title>
	<link rel="shortcut icon" href="./favicon.ico" />
	<link rel="icon" type="image/vnd.microsoft.icon" href="./favicon.ico" />
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="./css/common.css" />
	<script src="./js/jquery/jquery-2.2.0.min.js"></script>
	<script src="./bootstrap/js/bootstrap.min.js"></script>
	<script src="./js/engineer_plus.js"></script>
</head>
<body>
<div id="main_box" class="container text-center">
	<header class="clearfix">
		<div class="row">
			<h1 class="col-xs-4"><a href="./index.html">engineer+</a></h1>
			<nav>
				<ul class="list-unstyled list-inline coll-xs-8">
					<li><a href="#">トップページ</a></li>
					<li><a href="#">事業プラン</a></li>
					<li><a href="#">お問合わせ</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id="content_box" class="clearfix">
	<section class="clearfix">
		<article>
			<h3>engineer+とは...</h3>
			<div id="main_img">
				<img src="./img/meeting.png" />
				<p class="text-center">「ビジネス目線で、新規事業の企画開発を行う取り組み」です。 </p>
			</div>
		</article>
		<article id="news">
			<table class="table">
				<caption class="text-left">News</caption>
				<tbody>
					<tr>
						<td>2016/1/1</td>
						<td>MakerFaireTokyoに出展します。</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>活動の内容...</h3>
			<p>アイデアソンやブレストから出たアイデアの収益性・市場調査などを経て、企画書の提出までを一区切りのゴールとして活動します。<br />
	参加者の技術レベルは不問とし、実際に事業化できるビジネスモデルを創ることが目的として、仲間意識のある熱い気持ちを持った方を対象とします。</p>
		</article>
		<article id="cycle" class="clearfix row">
			<ul class="list-unstyled list-inline col-xs-12">
				<li>IoT</li>
				<li>App</li>
				<li>etc</li>
			</ul>
		</article>
		<article>
			<h3>実施内容</h3>
			<ul class="list-unstyled">
				<li>既存企業のビジネスモデルの調査</li>
				<li>新規事業のアイデア・プランニング</li>
				<li>商品・サービス開発</li>
			</ul>
		</article>
		<article>
			<h3>目的</h3>
			<ul class="list-unstyled">
				<li>エンジニア発信の新規事業の創出</li>
				<li>エンジニアのビジネスマインド強化</li>
			</ul>
		</article>
		<article>
			<h3>開催</h3>
			<p>不定期（月１～２回）</p>
		</article>
	</section>
	</div><!-- #content_box -->
	<footer class="clearfix">
		<p>Copyright(C) Ryosuke.F All Rights Reserved.</p>
		<a href="#" id="scroll_top">▲<br />TOP</a>
	</footer>
</div><!-- #main_box -->
</body>
</html>